/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "./fonts.css";
@import "./global.css";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* ANIMATION QISMI */
a {
  position: relative;
}

a::after {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

a:active {
  font-size: 12px;
  color: cyan;
}

a:hover {
  -webkit-transform: scaleZ(0.5s);
  transform: scaleZ(0.5s);
  color: gold;
}

/* HEADER QISMI QISMI */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 64px;
  margin-bottom: 64px;
}

.head__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 42px;
}

.head__right a {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  color: #333136;
}

/* HERO QISMI */
.hero__container {
  text-align: center;
  margin-bottom: 160px;
  background-color: #e7816b;
  height: 252px;
  border-radius: 17px;
  background-image: url(../images/home/desktop/Oval-Copy.svg);
}

.hero__container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #FFFFFF;

}

.hero__container h1 {
  padding-top: 64px;
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  color: #ffffff;
  margin-bottom: 24px;
}

/* ABOUT QISMI */
.about {
  position: relative;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #e7816b;
  background-image: url(../images/home/desktop/Oval-Copy.svg);
  border-radius: 8px;
  margin-bottom: -55px;
}

.about__left h4 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 5px;
  margin-top: 72px;
  margin-left: 95px;
  color: #ffffff;
}

.about__left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 46px;
  margin-left: 95px;
  color: #ffffff;
}

.about__right button {
  padding: 16px 19px;
  border: none;
  background-color: #ffad9b;
  color: white;
  margin-right: 96px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 21.68px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* FOOTER QISMI */
.footer__container {
  max-width: 1440px;
  background-color: #1d1c1e;
  padding: 75px;
}

.foot__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 42px;
}

.foot__top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 42px;
}

.foot__top a {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
}

hr {
  margin-top: 42px;
  margin-bottom: 31px;
}

.foot__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__left a {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  margin-left: 95px;
}

.footer__center a {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
}

.footer__right img {
  width: 24px;
  height: 24px;
  gap: 16px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__right a {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}