/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import "./global.css";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 1111px;
  width: 100%;
  margin: 0 auto;
}

/* ANIMATSIYA QISMI */
a {
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a::after {
  content: "";
  position: absolute;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

a:hover::after {
  -webkit-transform: scaleZ(1);
          transform: scaleZ(1);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* HEADER QISMI */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 27px;
  margin-bottom: 64px;
}

.head__right ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
}

.head__right a {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  color: #333136;
}

/* HERO QISMI */
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 31px;
  margin-bottom: 160px;
  border-radius: 8px;
}

.hero__shop h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
  color: #e7816b;
  margin-bottom: 16px;
  margin-top: 32px;
}

.hero__shop p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333136;
  margin-bottom: 32px;
}

.hero__shop {
  background-color: #FDF3F0;
  border-radius: 8px;
}

.hero__shop img {
  border-radius: 8px;
}

.about {
  position: relative;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #e7816b;
  background-image: url(../images/home/desktop/Oval-Copy.svg);
  border-radius: 8px;
  margin-bottom: -55px;
}

.about__left h4 {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 5px;
  margin-top: 72px;
  margin-left: 95px;
  color: #ffffff;
}

.about__left p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 46px;
  margin-left: 95px;
  color: #ffffff;
}

.about__right button {
  padding: 16px 19px;
  border: none;
  background-color: #ffad9b;
  color: white;
  margin-right: 96px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 21.68px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* FOOTER QISMI */
.footer__container {
  max-width: 1440px;
  background-color: #1d1c1e;
  padding: 75px;
}

.foot__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 42px;
}

.foot__top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
}

.foot__top a {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
}

hr {
  margin-top: 42px;
  margin-bottom: 31px;
}

.foot__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left a {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  margin-left: 95px;
}



.footer__center a {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
}

.footer__right img {
  width: 24px;
  height: 24px;
  gap: 16px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__right a {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}